{% load static %}

<!-- Bootstrap -->
<link href="{% static 'clinicaapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 <!-- Fonts -->

 <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
 

<!-- Styles -->
<link href="{% static 'clinicaapp/css/gestion.css' %}" rel="stylesheet">
<link href="{% static 'clinicaapp/css/horas.css' %}" rel="stylesheet">
</head>

<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
  
    <span class="site-heading-lower">CLINICA IDI</span>
  </h1>

  <div style="text-align: right;margin-right: 100px;color: white;">
  {% if user.is_authenticated %}

  Hola {{user.username}} &nbsp;&nbsp;<a href="{%url 'cerrar_sesion' %}" style="color: white;">Cerrar sesión</a>

  {% else %}

  <a href="{%url 'logear'%}" style="color: white;">Login </a> &nbsp; &nbsp; <a href="{%url 'Login' %}" style="color: white;">Registrate</a>

  {% endif %}


  </div>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
<div class="container">
  <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'inicio' %}">Clinica IDI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'inicio' %}">Inicio</a>
      </li>
      <li class="nav-item {% if request.path == '/servicios' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'servicios' %}">Servicios</a>
      </li>
      <li class="nav-item {% if request.path == '/contacto' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'contacto' %}">Contacto</a>
      </li>
      </li>
      <li class="nav-item {% if request.path == '/horas_disponibles' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'horas_disponibles' %}">horas disponibles</a>
      </li>
    </ul>
  </div>
</div>
</nav>


<!--Contenido Cambiante-->
{% block content %}


{% endblock %}






<div class="intro-text left-0 text-center bg-light p-5 rounded">
<h1>Citas<h1>
<h3>revise su infomacion</h3>
<p>{{your_name}}</p>
<p>{{your_phone}}</p>
<p>{{your_email}}</p>
<p>{{your_addres}}</p>
<p>{{your_scheduler}}</p>
<p>{{your_message}}</p>
