{% extends "clinicaapp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'clinicaapp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">El mejor servicio</span>
            <span class="section-heading-lower">Atencion de calidad</span>
          </h2>
          <p class="mb-3">El mejor sistema de atencion a publico para garantizar una buena higiene dental.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con mucha accebilidad para atencion a publico solo debes agendar tu hora y ver los tratamientos necesarios.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
    